.audio-element {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
    color: var(--light);
}

.audio-range-wrapper {
    width: 100%;
    padding: 1.5rem 2rem .25rem 2rem;
} 

.audio-range {
    width: 100%;
}

.duration-wrapper {
    width: 100%;
    padding: 0 2rem 0 2rem;

    display: flex;
    justify-content: space-between;
}

.button-wrapper {
    width: 100%;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.button-wrapper button {
    font-size: 30px;
}

.play-pause {
    margin: 0% 5% 0% 5%;
}

.audio-element button {
    background-color: inherit;
    outline: inherit;
    border: none;
    color: white;
}

.volume-wrapper {
    float: right;
    position: relative;
    bottom: 30px;

    display: flex;
    gap: 5px;
}

input[type="range"].volume-range {
    color: grey;
    --thumb-height: 1rem;
    --track-height: 0.0725rem;
}

input[type="range"].audio-range {
    color: var(--primary);
}

@media screen and (max-width: 650px) {
    .volume-wrapper {
        display: none;
    }
}



