.audio-element {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--light);
}

.audio-range-wrapper {
    width: 100%;
    padding: 1.5rem 2rem .25rem 2rem;
} 

.audio-range {
    width: 100%;
}

.duration-wrapper {
    width: 100%;
    padding: 0 2rem 0 2rem;

    display: flex;
    justify-content: space-between;
}

.button-wrapper {
    width: 100%;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.button-wrapper button {
    font-size: 30px;
}

.play-pause {
    margin: 0% 5% 0% 5%;
}

.audio-element button {
    background-color: inherit;
    outline: inherit;
    border: none;
    color: white;
}


