html{
    height: 100vh;
}

.notfound{
    font-family: "quicksand", monospace;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

.gif{
    position: relative;
    top: 400px;
    width: 300px;
}