 
 .user-list{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px,.5fr));
 }
.user-list ul{
    
    font-family: monospace;
    color: white;
    font-size: 20px;
    margin: 10px;
    background-color: rgb(52, 52, 52);
    width: 400px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}

.user-list ul li{
    padding: 5px;
}
